input {
  max-width: 295px;
  width: 100%;
  height: 68px;
  border-radius: 20px;
}

input {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  outline: none !important;
  color: #171313;
  border: solid 2px #D1DCD9FF;
  background-color: #F7FAF9FF;
  transition: all ease 500ms
}

input {
  padding: 18px;
}

input:focus {
  border-color: #26a9d1;
  background-color: #FFFFFFFF;
}
